name: Train Model in Docker

on:
  push:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t hf-assignment-3 .

      - name: Run training inside container
        run: docker run hf-assignment-3